@media (max-width: 799px) {
  * {
    margin: 0;
  }

  body {
    color: #6a5c1d;
    background-color: beige;
    margin-top: 17px;
  }

  p {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 10px;
  }

  h6 {
    margin-bottom: 10px;
  }

  h5 {
    margin-bottom: 30px;
  }
}
